@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Rancho&family=Roboto:wght@100&display=swap');
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #030303f8;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bestteenmovies-1612822987.jpg);
  background-blend-mode: multiply;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb{
  background-color: darkcyan;
}

.card-image {
  height: auto;
}

@media (max-width: 400px) {
  .menulist {
    display: none;
  }
}